@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300;400&display=swap");

.navigationbar {
  background-color: grey;
  overflow: hidden;
}

.navigationbar a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: "Montserrat", sans-serif;
}

.navigationbar i {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 40px;
  font-size: 30px;
  float: right;
  box-sizing: border-box;
}

.navigationbar a:hover {
  background-color: pink;
  color: black;
}

.navigationbar a.active {
  background-color: pink;
  color: black;
}

img {
  width: 600px;
  height: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
}

#main_title {
  border-bottom: 1px solid black;
  font-family: "Roboto", sans-serif;
}

.text {
  margin-top: 70px;
  margin-left: 30px;
  margin-right: 30px;
  text-align: justify;
}

.text > p {
  font-family: "Montserrat", sans-serif;
}

#site_codie {
  background-color: gray;
  color: white;
  text-decoration: none;
  border: 1px black;
  padding: 7px;
  float: right;
  margin-bottom: 50px;
}

#site_codie:hover {
  background-color: pink;
  color: black;
}
